.ok {
  border-color: rgba(23, 229, 85, 0.8);
  outline: 0 none;
}

.normal {
  border-color: rgba(12, 12, 12, 0.8);
  outline: 0 none;
}

.error {
  border-color: rgba(240, 9, 9, 0.8);
  outline: 0 none;
}